{% extends "parent.html" %}

{% block content %}
<div>
  <div id="articles-full">
    <h2 class="headings">Enhance Questions</h2>
    <article class="articles" id="current_projects">
      <h3 class="headings">Calender</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Text Filters</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Carousels</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Drag and Drop</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">2 Point Slider</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Clicky Guy</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
  </div>
</div> 
{% endblock content %}