{% extends "parent.html" %}

{% block title %}
  FAG's
{% endblock  %}
{% block content %}
<div>
  <div id="articles-full">
    <h2 class="headings">Frequently Asked Questions</h2>
    <article class="articles" id="current_projects">
      <h3 class="headings">Programming</h2>
      <h5 class="headings">Nov 05, 2019</h5>
      <p>Here are answers to some of the questions the Programming Team is asked:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Data Processing</h2>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>Here are answers to some of the questions the Data Processing Team is asked:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">Ethics & Translation</h2>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>Here are answers to some of the questions the Ethics & Translation Team is asked:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
  </div>
</div> 
  
{% endblock content %}