{% extends "parent.html" %}

{% block title %}
Programming FAG
{% endblock  %}
{% block content %}
 <div id="articles-full">
      <article class="articles" id="current_projects">
        <h2 class="headings">Frequently Asked Questions</h2>
        <h5 class="headings">Nov 05, 2019</h5>
        <p>Here are answers to some of the questions the Programming Team is asked:</p>
        <ul>
          <li>**Insert Text**</li>
          <li>**Insert Text**</li>
          <li>**Insert Text**</li>
        </ul>
      </article>
    </div>
  </div>
  <br/> 
  
{% endblock content %}