{% extends "parent.html" %}

{% block content %}
<div>
  <div id="articles-full">
    <h2 class="headings">Hints and Tips</h2>
    <article class="articles" id="current_projects">
      <h3 class="headings">Do's and Don'ts</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
    <br/>
    <article class="articles" id="current_projects">
      <h3 class="headings">**Insert Text**</h3>
      <h5 class="headings">Nov 27, 2019</h5>
      <p>**Insert Text**:</p>
      <ul>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
        <li>**Insert Text**</li>
      </ul>
    </article>
  </div>
</div> 
{% endblock content %}