{% extends "parent.html" %}

{% block title %}
Programming
{% endblock title %}



{% block content %}
<div>
  <div id="articles-full">
    <article class="articles" id="current_projects">
      <h2 class="headings">Current Projects</h2>
      <h5 class="headings">Nov 04, 2019</h5>
      <p>Here is a list of the current projects we are working on:</p>
      <ul>
        <li>Fabry Disease</li>
        <li>Paediatric Psorasis</li>
        <li>IBD</li>
      </ul>
    </article>
    <br />
    <article class="articles" id="new_ideas">
      <h2 class="headings">New Ideas</h2>
      <h5 class="headings">Oct 30, 2019</h5>
      <p>Here are some of the New Ideas the team has come up with recently that could improve surveys:</p>
      <ul>
        <li>Clicky Guy</li>
        <li>Two Point Slider</li>
      </ul>
    </article>
  </div>
</div>
<br />

{% endblock content %}