{% extends "parent.html" %}

{% block tite %}
Programming Meet the Team
{% endblock tite %}
{% block content %}
<div id="articles-full">
      <article class="articles" id="current_projects">
        <h2 class="headings">Meet the Team</h2>
        <h5 class="headings">Nov 05, 2019</h5>
        <p>Here is our team of Programmers:</p>
        <ul>
          <li>Louis Smith</li>
          <li>Rashid Chowdhury</li>
          <li>Fiona Bamforth</li>
          <li>Daniel Eden</li>
          <li>Nathan Kent</li>
        </ul>
      </article>
    </div>
  </div> 
  <br/>
  
{% endblock content %}
    