
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/rashid_styles.css' %}" type="text/css">

    <title>DATA SERVICES</title>

  </head>
  <body>
  	<div class="content">
      <h1>DATA SERVICES</h1>


      <div class="dropdown">
        <button class="dropbtn">The team</button>
        <div class="dropdown-content">
          <a href="#">Meet the team</a>
          <a href="#">Who does what</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Programming</button>
        <div class="dropdown-content">
          <a href="#">DSP Process Map</a>
          <a href="#">Landing Page explained</a>
          <a href="#">Repeat waves</a>
          <a href="#">How to write your logic</a>
          <a href="#">Changes log explained</a>
          <a href="#">Quotas</a>
          <a href="#">Enhance Questions</a>
          <a href="#">Link check training</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">Translation/ethics</button>
        <div class="dropdown-content">
          <a href="#">Translation process</a>
          <a href="#">Ethic process</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">DP</button>
        <div class="dropdown-content">
          <a href="#">DP process</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">FAQs</button>
        <div class="dropdown-content">
          <a href="#">Do's and Don'ts</a>
          <a href="#">Hints and tips</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">CONTACT US</button>
        <div class="dropdown-content">
          <a href="#">Helpdesk</a>
        </div>
      </div>
      <p class="TextContent">Welcome to the data-services website</p>
    <div>
  </body>