{% extends "base.html" %}

{% block title %}
Data Services Website
{% endblock title %}

        
{% block content %}
   <p></p>
    <p></p>
    <p></p>
    <h2>Ethics</h2>

    <p>Hello welcome to our ethics page :)</p>

    <p>Ethics can be applied for once all English links are signed off, text match checks completed and the PSC (including all country specific questions) is ready.  </p>

    <p>The guide for submission is found here.  </p>

    <p>Can we embed Lisa's powerpoint here????</p>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRflyLUIiT6PsrhzPs6BqMAmuYNdIUDNbX7eJ4opVIzyZ5y3u8BkUVmsbRMGephA26rCMjeud7L4GRW/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>


{% endblock content %}
 