{% extends "base.html" %}


<div class="w3-container">
  <h1 class="w3-center w3-animate-top">Welcome to Data Services</h1>
</div>

{% block content %}
  <div class="w3-container">
    <h1 class="w3-center w3-animate-top">Welcome to Data Services</h1>
  </div>

  <p>Can we have a flow diagram type thing which details the stages? There is a Project life cycle one in the Data
    Services Dept Pres </p>
  <p>Rather than buttons on the page (as above)</p>

  <ul>
    <li>Materials signed off in Review 3</li>
    <li>Programming </li>
    <li>Text Match checks</li>
    <li>Translation </li>
    <li>Proofreading (Fieldwork agency sign off)</li>
    <li>Ethics</li>
    <li>Data Processing</li>
  </ul>  
{% endblock content %}
