{% extends "base.html" %}

{% block title %}
Data Services Website
{% endblock title %}


{% block content %}
<h2>Programming</h2>

<p>Hello welcome to our Programming page :)</p>

<p>Does Rashid have a presentation we can use here?</p>

<p>The work flow for Programming is as follows</p>
<ul>
    <li>Materials signed off by all in Review 3</li>
    <li>Team to ensure materials are saved in the "Mats for programming folder" and to let Programmer know </li>
    <li>Team to provide a Landing page spec (using template which can be found here?)</li>
    <li>Programmer will set up the links & once scripted will send out for testing externally on a rolling basis</li>
    <li>Once tested externally, all changes made and signed off, the programmer will inform team the link is ready for
        team checks</li>
    <li>A Changes log is available in the "Link checking folder" for team members to record any updates/changes which
        need making to the link </li>
    <li>Changes should be listed in question order</li>
    <li>Team to inform programmer when changes are added to the log</li>
</ul>

{% endblock content %}