{% extends "base.html" %}

{% block title %}
Data Services Website
{% endblock title %}

{% block content %}

<h2>Translation / Proofreading</h2>

<p>Hello welcome to our translation page :)</p>

<p>The work flow for translation is as follows</p>

<ul>
    <li> Materials are programmed and the English links signed off
    <li>As each material type link is signed off a text match excel is sent to the team
        the purpose of these is to check that the programmed question text matches the word documents. You will have
        checked for bold text, formatting etc when you signed off the English links
    <li>Once translation has been completed and signed off by the agency we let you know the final links are ready for
        checking
</ul>

{% endblock content %}