html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
      min-width: 100%;
      min-height: 100%;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      font-family: 'Open Sans', sans-serif;
}
/*

*/
#header-text {
    width: 60%;
    margin: 0 auto;
    padding: 24px 0;
    color: #ffffff
}

#header-text h1, #header-text h2 {
    width: 50%;
    min-width: 480px;
    margin: 0 auto;
}

#header-text h2 {
    font-size: 1.8em;
    text-align: center;
}

.under-triangle {
    float: left;
    width: 0; 
    height: 0; 
    border-left: 0px solid transparent;
    border-right: 800px solid transparent;    
    border-top: 54px solid #003569;
    margin-bottom: 12px;
}

.nav {
    position: sticky;
    top: 0;
    box-shadow: 0 12px 10px 0 rgba(80,80,80,0.5);
}

.nav-menu-group {
    right: 5px;
    padding: 6px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    line-height: 22px;
    margin: 6px;
    font-family: 'Bree Serif', serif;
    font-size: 1.2em;
}

.sub-menu {
    background-color: #ffffff;
    display: none;
    padding: 8px;
}

.sub-menu a {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    display: block;
    padding: 4px 0 4px 12px;
}

.content-area {
    margin: 12px auto;
    width: 90%;
}